body {
  background-color: #f8f9fa;
  font-family: "Source Sans Pro", sans-serif;

}
.main{
  padding-bottom:40px;
  height: 82vh;
}

.main2{
  padding-bottom:40px;
}
.box {
  background: white;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 1%;
}

h4 {
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.index-para{
  text-align:justify;
}

.index-image{
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  max-height:230px;
  max-width:200px;
  width: 100%;
  height: auto;
}

.refl-image{
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  max-height:280px;
  max-width:430px;
  width: 100%;
  height: auto;
  border-radius:5%;
}

a{
  text-decoration: none;
}

.skills-range
{
  width:100%;
}


.main-content {
  padding: 0.625rem 1.25rem; /* 10px 20px */
  margin: auto;
  max-width: 75%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.75rem; /* 12px */
  font-size: 1.25rem; /* 20px */
  line-height: 1.8;
  letter-spacing: 0.0625rem; /* 1px */
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
}

.content-para, .content-ul {
  font-size: 1rem; /* 16px */
  margin-left: 1 rem; /* 50px */
  text-align: justify;
}

.table {
  margin-left: 3.125rem; /* 50px */
  font-size: 1rem; /* 16px */
  max-width: 90%;
}

.subheading {
  text-align: center;
  padding: 1.25rem 0; /* 20px 0px */
}

.table-form3 {
  margin: 1.25rem auto; /* 20px auto */
  max-width: 50%;
}

.table-form6 {
  margin: 0 auto;
  max-width: 50%;
} 

.table-form7 {
  padding: 0;
  margin: 0;
  max-width: 90%;
}
.section {
  width: 100vw;
  height: 100vh;
}

.project:hover{
    transform: scale(1.05);
}

